.about{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width:37.5em){
        flex-direction: row;
    }

    .info:nth-child(2){
        border-color: $mainOrange;

        &__title{
            color: $mainOrange;
        }
    }
    .info{
        border: 4px solid $mainBlack;
        flex: 0 0 32%;
        margin: 0.5rem;
        border-radius: 8px;
        font-size: 1.4rem;
        // text-transform: capitalize;
        padding: 1rem;

        & > *{
            margin: 1rem 0.5rem;
        }
        &__title{
            text-align: center;
            color: $mainBlack;
        }
        &__text{
            
        }
        &__ul{
            
            margin-left: 2rem;
        }
        &__li{

        }
    }
}